.footer{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 40px;
    max-width: 400px;

    ul{
        width: 50%;
        margin-top: 10px;
        overflow: hidden;
        list-style-type: none;
        padding: 0;
        color: #000;
    }

    li{
        span{
            color: #9f9689;
        }
    }
}

@media only screen and (min-width: 1000px) {
    .footer{
        justify-content: space-between;

        ul{
            width: auto
        }
    }
}

@media only screen and (min-width: 550px) and (max-width:1000px) {
    .footer{
        justify-content: space-between;
        margin-top: 20px;
        ul{
            width: auto
        }
    }
}
@media (max-width:550px){
    .footer {
        margin-top: 20px;
        font-weight: 600;
        ul{
            width: auto;
            margin-right: 15px;
        }
    }
}
