@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    min-height: 100vh;
}

h1 {
  font-size: 44px;
  font-weight: 600;
  line-height: 74px;
}

/* .policiesPages > blockquote, .policiesPages > dl, .policiesPages > dd,.policiesPages >
h1, .policiesPages >h2, .policiesPages >h3,.policiesPages > h4, .policiesPages >h5,
.policiesPages >h6, hr, .policiesPages >figure, .policiesPages >p, .policiesPages >pre {
    margin: revert-layer;
} */

li{
  /* text-decoration: dotted; */
  list-style: disc;
}